*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1,h2,h3,h4,h5,p,a{
    font-family: 'Source Code Pro', monospace;
    /* font-size: 26px; */
}
p{
    font-size: 20px;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/* ---------------------- */
.demo-layout-transparent {
    background: black center ;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button,
.mdl-layout__content  {
/* This background is dark, so we set text to white. Use 87% black instead if
    your background is light. */
    color: white;
}
/* .demo-layout-transparent.mdl-layout.mdl-js-layout{
    
} */
.mdl-grid{
    /* width: 960px; */
    
    margin: 0 auto;
    overflow: auto;
    padding: 5px 5%;
}
/* .mdl-grid.projects{
   margin-right: 50px;
} */
.mdl-grid.text{
    text-align: center;
}
.mdl-cell{
    padding: 20px 100px;
    float: left;
}
.mdl-cell.mdl-cell--3-col{
    background-color:#222831;
    border-radius: 20px;
    padding: 6px;
    align-items: center;
}
.mdl-cell.mdl-cell--3-col.cell{
    padding: 20px;
}
.mdl-cell.mdl-cell--3-col.html img{
    margin-left: 40px;
}
.mdl-grid.hardSkills{
    margin-top: 200px;
}
.mdl-cell.mdl-cell--12-col.projects.git{
    padding: 40px;
}
.mdl-cell.mdl-cell--12-col.projects.git.git_icon{
    margin-left: 40px;
}

.mdl-cell.mdl-cell--12-col.form label, input{
    color: rgb(255, 255, 255);
}

.mdl-layout__content{
    padding: 40px 20px 40px 20px;
    float: left;
}
.mdl-mega-footer{
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
}



/* .mdl-mega-footer{
    background-color: #010b13;
    position:absolute;
    bottom:0;
    width: 1760px;
} */
